<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to HR System</h1>
    <p>This is the homepage of our HR System.</p>
    <p>Here you can perform various actions and tasks related to human resources management.</p>
    

    <div>
        <a href="{% url 'employee_form' %}">Employee Form</a>
    </div>
    

    <div>
        <a href="{% url 'assign_designation_form' %}">Assign Designation Form</a>
    </div>


    <form action="{% url 'employee_list' %}" method="GET">
        <button type="submit">View Employee List</button>
    </form>
</body>
</html>
